@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
  --main-color: #c38d9e;
  --secondary-color: #eee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.app-container {
  height: 100vh;
}

.header-container {
  background-color: var(--main-color);
  color: #fff;
  padding: 1.5rem;
}

.header-title {
  font-size: 1.8em;
  margin-left: 1rem;
}

.section-container {
  display: flex;
  height: 100vh;
}
